<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Interoperability Dashboard</title>
  </head>
  <body>
    <h1>Interoperability Dashboard</h1>
    <nav>
        <ul>
            <li><a href="multi_Domain_Operations_By_Nation_search.html">See Nation Capabilities</a></li>
            <li><a href="ineroperability_issues_by_nation_search.html">See Nations Interoperability Issues</a></li>
            <li><a href="multi_lateral_interoperability_program_by_nation_search.html">See where a Nation has a Multi Lateral Interoperability Program</a></li>
            <li><a href="cross_domain_solution_by_nation_search.html">See where a Nation has a Cross Domain Solution</a></li>
            <li><a href="multi_domain_ops_by_nation_search.html">See where a Nation has Multi-Domain Operations</a></li>
            <li><a href="cross_dom_solution_&_multi_dom_ops_by_nation_search.html">See where a Nation has both Cross Domain Solutions and Multi-Domain Operations</a></li>
        </ul>
    </nav>
  </body>
</html>