<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Creator</title>
</head>
<body>
    <h1>Query Creator</h1>
    <form method="post">
        <table>
            <tr>
                <th>Nation</th>
                <th>Exercise</th>
            </tr>
            <tr>
                <td> {{ nationForm.hidden_tag() }} {{ nationForm.nationResult }}</td>
                <td> {{ exersiceForm.hidden_tag() }} {{ exersiceForm.exersiceResult }}</td>
            </tr>
        </table>
        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>