<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Creator</title>
</head>
<body>
    <h1>Query Creator</h1>
    <p>
        Nation Form Errors: {{ nationForm.errors }}
    </p>
    <p>
        Exersice Form Errors: {{ exersiceForm.errors }}
    </p>
    <p>
        Domain Form Errors: {{ domainForm.errors }}
    </p>
    <p>
        Warfare Form Errors: {{ warfareForm.errors }}
    </p>
    <p>
        Task Form Errors: {{ taskForm.errors }}
    </p>


    <form method="post">
        <table>
            <tr>
                <th>Nation</th>
                <th>Exercise</th>
                <th>Domain</th>
                <th>Warfare Level</th>
                <th>Task</th>
            </tr>
            <tr>
                <td>{{ nationForm.hidden_tag() }} {{ nationForm.nationResult }}</td>
                <td>{{ exersiceForm.hidden_tag() }} {{ exersiceForm.exersiceResult }}</td>
                <td>{{ domainForm.hidden_tag() }} {{ domainForm.domainResult }}</td>
                <td>{{ warfareForm.hidden_tag() }} {{ warfareForm.warfareResult }}</td>
                <td>{{ taskForm.hidden_tag() }} {{ taskForm.taskResult }}</td>
            </tr>
        </table>
        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>